
@font-face {
    font-family: 'Korail';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KORAIL.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

body {
    display: flex;
    flex-direction: column;
    background-color: blue;
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: 'Korail';
    justify-content: center;
    height:100vh;
    
}

header {
    display: flex;
    background-color: yellow;
    color: black;
    padding: 16px;
    justify-content: flex-end;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

footer {
    display: flex;
    background-color: black;
    padding: 16px
}

.title-txt {
    font-size: 64px;
}

.menu-item {
    font-size: 32px;
}

.menu-item.select {
    background-color: darkorange;
}