
@font-face {
    font-family: 'Korail';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KORAIL.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

body {
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color: blue;
    color: white;
    font-family: 'Korail';
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction: column;
}

.box-1 {
    font-size: 64px;
     position: absolute;
}

.box-2 {
    margin-top: auto;
    margin-bottom: 20px;
    
}